extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 1000 active computing students via a variety of events,  sessions, emails, job advertisements and more.
  p We only hold events for speakers or companies who support us directly and we always welcome new partnerships and opportunities.
  p.sponsor-attention DoCSoc is still seeking sponsors for 2016-17 at all tiers.
  p.sponsor-attention If you would like to sponsor the society,
    | &nbsp;
    a(href="mailto:docsoc@imperial.ac.uk") come and say hi!


  h2 Current Sponsors

  .sponsor-table
    each sponsor in contents.data['sponsors.json'].metadata
      .sponsor-row
        .sponsor-image-cell
          a(href=sponsor.url)
            img(src=sponsor.logo).sponsor-image
        .sponsor-info-cell
          .sponsor-name
            a(href=sponsor.url) #{sponsor.name}
          .sponsor-info
            h2 #{sponsor.info}

    .clearboth

