extends page

block post
  h1 Sponsorship
  p DoCSoc offers a lot to our students but this wouldn't be possible without the support we receive from industry.
  p In return, companies gain access to over 1000 active Computing, JMC and EIE students through a variety of events, sessions, emails, job advertisements and more.
  p We only hold events for speakers or companies who support us directly and we always welcome new partnerships and opportunities.
  p.sponsor-attention DoCSoc has filled its capacity for all the sponsorship tiers for 2016-17.
  p.sponsor-attention
    | Email us at #[a(href="mailto:docsoc@imperial.ac.uk") docsoc@imperial.ac.uk] if you're interested in sponsoring DoCSoc for 2017/18.

  h2 Current Sponsors

  .sponsor-table
    each sponsor in contents.data['sponsors.json'].metadata
      .sponsor-row
        .sponsor-image-cell
          a(href=sponsor.url)
            img(src=sponsor.logo).sponsor-image
        .sponsor-info-cell
          .sponsor-name
            a(href=sponsor.url) #{sponsor.name}
          .sponsor-info
            h2 #{sponsor.info}

    .clearboth

